/* Fade in any tag animation */
@keyframes fadeIn {
  from { opacity: 0; }                    /* hide item  */
  to { opacity: 1; }                      /* show item */
}

/* Applying animation to the page content */
#writeup, #main, #grid {
  animation-name: fadeIn;                 /* set animation to fade in */
  animation-duration: 1s;                 /* duration of animation */
  animation-iteration-count: 1;           /* only happens on load */
  animation-timing-function: ease-in-out; /* set animation curve */
}
