/* Attributes for subtitle */
.button {
  font-weight: bold;          /* Increase font weight */

  display: inline-block;      /* Size width based on */
  background-color: white;    /* Set a fill */
  border: 2px solid black;    /* adding a border around */
  color: black;               /* setting text color */
  padding: 10px;              /* padding */
  cursor: pointer;            /* default is text */

  transition: all 0.5s;       /* animate all attributes for duration of 0.5s */

  user-select: none;
}

/* when hovered over */
.button:hover {
  transform: scale(0.9, 0.9); /* decrease in size when hovered */
  background-color: black;    /* set background color to black */
  color: white;               /* set text color to white */
}