.card {
  display: block;

  width: calc((100% - 120px)/3);

  background-color: white;
  margin: 20px;

  box-sizing: border-box;
  padding: 20px;

  border-radius: 1%;
  box-shadow: 0 0 5px rgba(0,0,0,0.0);
  transition: all 0.5s;
}

@media (max-width: 750px) {
  .card {
    width: calc(100% - 40px);
  }
}

.card:hover {
  transform: scale(1.1, 1.1);
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card #thumbnail {
  display: block;
  margin: 0 -20px;
  margin-top: -20px;
  border-radius: 16px;
  width: calc(100% + 40px);
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.card #name {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 150%;
}

.card #details {
  margin-top: 0;
  margin-bottom: 0px;
  font-style: italic;
  font-size: 100%;
}
