/* Setting a universal font */
* {
  font-family: sans-serif;
}

/* Adding padding to the sides */
body {
  padding-top: 64px;
  margin: 1% 25%;
}

/* Removing blue color and underline from links */
a {
  color: black;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0; 
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  
  align-items: center;
  justify-content: center;
}

/* Header contains menu */
#header {
  top: 0;                     /* stick to the top */
  display: block;             /* such that if fills the screen width */
  height: 64px;               /* fix height */
  width: 50%;                 /* setting width to only half of the page */
  background-color: white;    /* setting a fill */
  position: fixed;            /* stays at the top of the page */
  z-index: 1;                 /* always above all other elements */
}

/* the body of the home page */
#main {
  position: absolute;         /* for flexbox to work */
  height: calc(90% - 128px);  /* setting height to be half of */
  width: 50%;                 /* setting the width to only half of the page */
  display: flex;              /* enable flexbox */
  flex-direction: column;     /* let elements in flexbox to be arranged downwards */
  align-items: center;        /* Make all the items centered along y axis */
  justify-content: center;    /* Make all the items centered along x axis */

  padding-bottom: 64px;       /* Added padding to the bottom */
}

/* The icon of my face */
#main img {
  width: 25%;                 /* Just setting the width */
  margin-bottom: 20px;        /* Spacing between icon and words */
  border: 5px solid;
}

/* Check if device is a phone */
@media (max-width: 750px), (max-height: 750px) {
  #main {
    height: auto;
  }
}

/* Check if device is a phone */
@media (max-width: 750px) {
  #main img {
    width: 100%;               /* Just setting the width */
  }
}

/* Title and subtitle tags present in the home page */
#title, #subtitle {
  margin: 0;                  /* Reduce spacing */
  font-weight: lighter;       /* Decrease font weight */
  text-align: center;         /* Center align text */
}

#title {
  /* Specific attributes for title */
  font-size: 400%;            /* Increase font size */
}

/* Specific attributes for subtitle */
#subtitle {
  font-size: 100%;            /* Increase font size */
  margin-bottom: 40px;        /* Spacing between it and button */
}

/* for writeup block found in other pages */
#writeup {
  margin: 80px 20px;        /* spacing */
}

/* collection view used to display cards */
#grid {
  position: absolute;       /* for flexbox to work */
  width: 50%;               /* setting the width to only half of the page */
  display: flex;            /* enable flexbox */
  flex-wrap: wrap;          /* content will wrap to next line when exceeded */
  justify-content: center;  /* center content on the x axis */
  align-items: flex-start;  /* everything is pushed to the top */

  padding-bottom: 64px;     /* Added padding to the bottom */
}

/* Check if screen is smaller than desktop but bigger than mobile */
@media only screen and (max-width: 1500px) {
  body {
    margin: 1% 10%;
  }

  /* Change the width of the 3 main items on page */
  #header, #main, #grid {
    width: 80%;
  }
}
