html { font-family: arial, sans-serif; }
* { margin: 0; }


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px
}

h1 { 
    text-align: center; 
    margin-bottom: 16px;
}

form {
    display: inline-flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */

    /* width: 50%; */

    border: 1px solid #ddd;

    padding: 16px;
    border-radius: 16px;
}

#input-container {
    display: flex;
    flex-direction: column;
}

.divider {
    border-left: 1px solid #ddd;
    margin: 0px 16px;
}

#output-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

output {
    margin: 8px 0px;
    font-size: 20px;
    font-weight: bold;
}

@media(max-width: 996px) {
    form { flex-direction: column; }
    .divider { 
        border-top: 1px solid #ddd;
        margin: 24px 0px 16px 0px; 
    }
}


/* ------------------------------------------- */
/* Custom Input */

label {
    margin-bottom: 4px;
    color: gray;
    margin-top: 16px;
}

.no-margin-top { margin-top: 0; }

input {
    text-align: center;
    appearance: none;

    border: solid #ddd;
    border-width: 0 1px;
}

.custom-input {
    display: inline-flex;
    border: 1px solid #ddd;
    justify-content: center;
}

.custom-input button {
    outline:none;
    -webkit-appearance: none;
    
    padding: 0 4px;
    background-color: transparent;
    border: none;
    
    cursor: pointer;
}

.custom-input button:active {
    background-color: lightgray;
}


/* ------------------------------------------- */
/* Hide Arrows */
/* Source: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
   margin: 0;
}

/* Firefox */
input[type=number] { -moz-appearance: textfield; }