$primary: #2f3136;
$secondary: #1f2023;

// $text-color: #fff !default;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 6)
);


$body-bg: $secondary;  //this is the text color
$body-color: #fff; //this is the background color

@import "node_modules/bootstrap/scss/bootstrap";

.card {
    border-radius: 20px;
}

em {
  color: #f0f0f450;
  font-style: normal;
}

a { color: #fff; }
a:hover { color: #fff; }