#navbar, #menu {
  list-style: none;             /* Remove dots */
  margin: 0;                    /* No margin */
  padding: 0;                   /* No padding */
  overflow: hidden;             /* content is clipped */
}

/* Attributes for name id in menu */
#navbar #name {
  font-weight: bold;            /* bold */
  float: left;                  /* Left align in menu */
}

/* Attributes for all items that is not name id */
#navbar li:not(#name) {
  float: right;                 /* right align */
}

#navbar #button {
  visibility: hidden;
  width: 0;
}

@media (max-width: 750px) {
  #navbar li:not(#name):not(#button) {
    visibility: hidden;
    width: 0;
  }

  #navbar #button {
    visibility: visible;
    width: auto;
  }
}

li a {
  display: block;               /* set width to fill parent container */
  padding: 20px;                /* Add padding */
  box-sizing: border-box;       /* Prevent padding from increase the width or height */
  height: 64px;                 /* set a fixed height */
  text-decoration: none;        /* remove underline */
  cursor: pointer;              /* default text */
  text-align: center;           /* align text to center */
}

/* if list item is active */
li #active {
  font-weight: bold;            /* bold text */
}

/* else if list item is not active */
li a:not(#active) {
  opacity: 0.25;              /* decrease opacity */
  transition: all 0.5s;       /* has animation of duration 0.5s */
}

/* when list item is hovere */
li a:hover:not(#active) {
  transform: scale(0.9, 0.9); /* decrease scale */
  opacity: 1;                 /* increase opacity */
}

/* Added menu items */
li {
  height: 64px;                 /* set height */
  display: block;
}
