.navbar {
    padding: 1rem;
}

.jumbotron {
    margin: 3rem;
}

.hero-bg-img {
    background-image: url("../Images/Hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 5rem;
}

/* .hero-bg-img:after {
    content: "";
    position: absolute;
    background-image: url("hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.15; /* Tone the image down further by giving it transparency 
  } */
  

.btn-primary:hover {
    background-color: white;
    color: black
}