* {
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;

    color: black;
}

section {margin: 0 0 5rem 0;}
body { margin: 0; }
h3 { margin: 0.5rem 0 0 0; }
p { margin-top: 0.5rem; }
html { font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji; }
html { scroll-behavior: smooth; }

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 1rem;

    font-weight: 600;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    align-items: baseline; 

    background: rgb(0, 0, 0, 0.7);
    background: rgba(5, 19, 38, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);    
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul a { padding: 0rem 0.5rem; }
nav * a { color: white; }


/* Hero */

.hero-section {
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    margin: 0 2rem;
    padding: 1rem;
    border-radius: 1rem;

    background: rgb(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);    

    color: white;
    font-size: 4.0rem;
}

#hero { background-image: url('Images/hero.jpg'); }
#iot { background-image: url('Images/iot.jpg'); }


/* Boards */

.flex-container ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
}

.board-card {
    width: 100%;
    max-width: 360px;

    margin: 2rem;

    border: 1px solid #e1e4e8;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
    /* transition: all .3s ease-in-out; */
    transition: all 300ms; 
}

.board-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
}

.board-card h3, p {
    padding: 0rem 1rem;
}

.board-card:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 16px 32px;
    transform: scale(1.05, 1.05)
}


/* Projects */

#projects .board-card {
    max-width: 500px;
}

#projects .board-card img {
    height: 400px;
}


/* Footer */

footer {
    margin-bottom: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    font-family: "Roboto Mono", Courier, Helvetica, sans-serif;
    font-size: 18px;
    color: white;

    width: 50%;
    min-width: 28rem;
    padding: 2rem;
    background-color: rgb(53, 53, 53);
    border-radius: 1rem;

    line-height: 1.5rem;
}

.blink {
	background-color: #FFFFFF;
	border-radius: 2px;
	font-size: 18px;

    width: 14px;
    height: 21px;

    animation: blink 1s steps(1, end) infinite;
}
  
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}